{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    {%for entreprise in entreprises %}
        <a href="{{ path('show_entreprise', {'id':entreprise.id})}}">{{entreprise}}</a> <br>
    {% endfor %}
    
{% endblock %}
